aiofiles==24.1.0
aiogram==3.13.1
aiohttp==3.9.1
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==4.0.3
attrs==25.4.0
certifi==2025.11.12
frozenlist==1.8.0
idna==3.11
magic-filter==1.0.12
multidict==6.7.0
propcache==0.4.1
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.2.1
redis==5.0.8
SQLAlchemy==2.0.36
typing_extensions==4.15.0
yarl==1.22.0
